<%= @game.player_1.name %> attacked <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %> /60 HP

<%= @game.player_2.name %>'s turn

<form action="/play">
  <input type="submit" value="Back">
</form>
